body {
    
    background-image: url('https://img.freepik.com/free-photo/top-view-laptop-with-heart_23-2148186928.jpg?w=360');
    background-color:azure;
    background-repeat: repeat;
    
    background-size: 120px;
    
    
    
    
    
    
  }

  h2 {
    padding-left: 1000px;
    font-family:cursive;
    font-size: 20px;
  }