.music-table button {
    font-size:20px;
    font-family:cursive;
    background-color:azure;
    padding-left: 677px;
    margin-left: 20px;
    padding-right: 700px;
    font-weight: bolder;
   

}

.music-table {
    width: 60%;
   
  
}

table {
    width:100%;
    margin-top: 10px;
    border: 4px solid darkgrey;
    background-color: #f9f9f9;
    margin-left: 20px;
    border-radius: 5px;
    
}

th {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align:left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
   
}
tr:hover {
    background-color: azure;
    cursor: pointer;
}

td { 
    padding: 5px;
}
.title-header {
    font-weight: bold;
    color: #333;
}
.title-cell{
    font-style: italic;
    font-size:smaller;
    font-weight: bolder;
    
}
.album-header {
    font-weight: bold;
    color:#333

}

.album-cell {
    font-style: oblique;
    color:darkslategray;
    font-size: smaller;
}
.artist-header {
    font-weight: bold;
    color:#333

}

.genre-header {
    font-weight: bold;
    color:#333

}
.releaseDate-header {
    font-weight: bold;
    color:#333

}
.artist-cell {
    font-style: oblique;
    color:darkslategray;
    font-size: smaller;
}
.genre-cell {
    font-style: oblique;
    color:darkcyan;
    font-size: smaller;
}
.releaseDate-cell {
    font-style: oblique;
    color:darkslategray;
    font-size: smaller;
}